body {
	background-color: #333;
	color: #AAAAAA;
}

h1     {  color: #FFFFFF;  }
h2     {  color: #C9C9C9;  }
  
a                         {  color: #768FFF;  text-decoration: none; }
a:hover, a.active:hover   {  color: #FFFFFF;  }
a.active                  {  color: #91CDFF;  }
  
strong {  color: #FFB222;  }
em     {  color: #E4C581;  }

hr {
	border-top-color: #505050;
}